doctype html
html 
    head
        link(rel="stylesheet", href="style.css")
        title
    body.body2
        header
            nav
                a(href="http://") insert
                a(href="http://") selectAll
        block content
        br
        footer
            p WEB-SHELLY&copy; 2022