//- extends layout
//- block content
//-     h1 select all students
//-     form(action="/ShowTickets", method="")
//-         input(id="nme", type="text", name="name", required.) 
//-         br
//-         label(for="") click to select all students
//-         input(type="submit", value="Select") 

        
doctype html
html 
    head
        link(rel="stylesheet", href="style.css")
        title
    body.body2
        header
            nav
                a(href="http://") insert
                a(href="http://") selectAll
        h1 select all students
        form(action="/ShowTickets", method="post")
            input(type="radio", name="hename",value="concert" ,required.) 
            br
            label(for="") click to select all students
            input(type="submit", value="Select") 
            br
    footer
        p WEB-SHELLY&copy; 2022